* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal:'Inter', sans-serif;
    --botao-azul-efeito:#3C92FA;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.1rem;
}

.principal {
    /* Esse "." antes da pasta da img é necessario apenas no css */
    background-image: url("./assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--branco-principal);
    margin-bottom: 1rem;
}

.botao_secundario {
    background-color: transparent;
    border: 0.15rem solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__caixa {
    margin: 0rem 10rem 5rem 10rem;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 20em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.3em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 2em 20em;
}

.rodape__lista {
    list-style-type: none;
    display: flex;
    margin: 1em  0;
    justify-content: center;
}

.rodape__texto {
    padding: 0.5em;
    color: var(--cinza-secundario);
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
    margin: 0 0.5em;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color:blueviolet;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}